<div class="p-2 h-100">
  <div class="col h-100 d-flex flex-column mt-0 p-0 border border-light-subtle rounded-1 m-1 mt-1">
    <a href="./assets/images/tea-collection/image-1.png" class="product__image">
      <img src="{{product.image}}" class="d-block w-100" alt="Image 1">
    </a>
    <div class="h-100 p-4 h-50 d-flex flex-column align-items-start">
      <h3 class="fs-5 text-body-emphasis mb-3">{{product.title}}</h3>
      <p class="mb-4 h-100">{{product.description}}</p>
      <a class="btn btn-primary px-5" [routerLink]="['/catalog', product.id]">
        Подробнее
      </a>
      <a class="btn btn-outline-primary px-5 mt-2" routerLink='/order' routerLinkActive="active" [queryParams]="{product: product.title}">
        <span class="px-3">Купить</span>
      </a>
    </div>
  </div>
</div>
